<div class="searchBar">
    <div class="container">
        <form action="/search" class="search_from" role="search" method="POST">
            <input type="search" 
                aria-label="Search" 
                id="searchInput" 
                name="searchTerm" 
                placeholder="Serch the site..."/>
        </form>
        <div class="searchClose">Close</div>
    </div>
</div>